{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
