{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.sol"],
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": ["*.tsx"],
      "options": {
        "semi": true,
        "printWidth": 120
      }
    }
  ]
}
